@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
	width: 100%;
	height: 80px;
	background: #404040;
}
label.logo{
	color: white;
	margin: 0 100px;
	line-height: 80px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 500;  
    font-family: roboto;  
    word-spacing: 1px;
}
nav ul{
	float: right;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
    display: none;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-transform: capitalize;
	padding: 8px 20px;
}
/* nav ul li:hover{
	background: #0e0d0d;
} */
#checkbtn{
	float: right;
	line-height: 80px;
	margin-right: 10px;
	font-size: 30px;
	color: white;
	display: none;
}
#check{
	display: none;
}
#check:checked ~ ul{
	left: 0;
}

/* --------------------------header------------------------------ */
header{
    display: flex;
    height: 70px;
    width: 100%;
    margin-top: -80px;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 20px;
    line-height: 70px;
}
.header-li{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    /* position: relative;
    right: 190px; */
    font-family: roboto; 
    font-size: 20px;
}
.logo{
    flex-grow: 1;
}
.logo-img{
    height: 70px;
    width: 120px;
    margin-left: 40px;
}

/* ---------------------------overly----------------------------- */
.overly{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 250px;
    bottom: 80px;
}
.desktop{
    height: 27px;
    width: 200px;
    display: flex;
    margin-left: 30px;
}
.screens{
    margin-left: 10px;
    position: relative;
    right: 80px;
}
.elegent{
    width: 279px;
    height: 46px;
    border: 1px solid white;
    margin-left: 90px;
    align-self: center;
}
.elegent > img{
    margin-left: 8%;
}
.back{
    width: 279px;
    height: 46px;
    border: 1px solid white;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
}
.backp{
    text-align: center;
    margin-top: 10px;
}
.cart{
    height: 25px;
    width: 25px;
    margin-top: 10px;
}


/* -------------------------------text and image sec------------------------------------------ */
.about-us{
    width: 100%;
    height: 550px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.about-us-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about-us-h{
    width: 100%;
    height: 46px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    margin-top: 90px;
}
.about-us-para{
    width: 100%;
    height: 120px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    margin-top: 100px;
}
.about-buttons{
    display: flex;
    margin-top: 30px;
}
.about-btn{
    height: 50px;
    width: 120px;
    margin-left: 20px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.about-btn1{
    background-color: #ECAD15;
    color: #FEFEFF;
}

.about-btn2{
    background-color: #000000;
    color: white;
}
.about-btn1:hover{
    background: #0e0d0d4d;
}
.about-btn2:hover{
    background: #0e0d0d4d;
}
.number{
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}
.num-text{
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 300px;
}
.about-img{
    height: 400px;
    width: 45%;
}
.vegies{
    font-family: Poppins;
    font-size: 59.33px;
    font-weight: 700;
    line-height: 71.19px;
    text-align: left;
    color: #000000;    
}
.shop{
font-family: Poppins;
font-size: 53.62px;
font-weight: 700;
line-height: 64.34px;
text-align: left;
color: #ECAD15;
}


/* -------------------------3 Step heading section---------------------------- */
.three-step-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.three-step-h-p > img{
    text-align: center; 
    margin-left: 40px;
    margin-bottom: 10px;
}
.three-step-h-h{
    width: 100%;
    height: 60px;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;

}

/* -----------------------------------cbg-------------------------------- */
.cabbage{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cbgimg{
 align-self: center;
 margin-top: 50px;
}
.cbgtext{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cbgp{
    font-family: Poppins;
    font-size: 16.28px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #050505;
    align-self: center;
}
/* ------------------------------------------------------------- *//* -----------------------------------cbg-------------------------------- */
.cabbage{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cbgimg{
 align-self: center;
 margin-top: 50px;
}
.cbgtext{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cbgp{
    font-family: Poppins;
    font-size: 16.28px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #050505;
    align-self: center;
}
.cbg-btn{
    margin-top: 30px;
}
/* ------------------------------------------------------------- *//* -----------------------------------cbg-------------------------------- */
.cabbage{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cbgimg{
 align-self: center;
 margin-top: 50px;
}
.cbgtext{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cbgp{
    font-family: Poppins;
    font-size: 16.28px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #050505;
    align-self: center;
}
/* ------------------------------------------------------------- */
/* -----------------------------------cbg-------------------------------- */
.cabbage{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cbgimg{
 align-self: center;
 margin-top: 50px;
}
.cbgtext{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cbgp{
    font-family: Poppins;
    font-size: 16.28px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #050505;
    align-self: center;
}
.cbg-btn{
    margin-top: 30px;
}
/* ------------------------------------------------------------- */

/* --------------------------cards--------------------------------- */

.cards{
    width: 98vw;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    flex-shrink: 0;
    width: 198px;
    height: 394.93px;
    border: 2px dashed #666666;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.veg{
    width: 20px;
    height: 40%;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
}
.buy{
    width: 38px;
    height: 27px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    display: flex;
    margin-top: 10px;
}
.dollar{
    color: #ECAD15;
}
.veg-name{
    width: 150px;
    height: 27px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
}
.kg{
    width: 46px;
   height: 29px;
   text-align: center;
   font-family: Poppins;
   font-size: 24px;
   font-weight: 700;
   line-height: 28.8px;
   color: #ECAD15;
}
.card-para-1 ,.card-para-2{
    width: 194px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.card-btn{
    margin-top: 5px;
    align-self: center;
    background-color: #000000;
    margin-right: 13px;
}

/* ---------------------------------Single btn----------------------------------- */
.Sbtn{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.single-btn{
    height: 60px;
    width: 200px;
}
/* -----------------------h2-------------------- */
.costumer{
    height: 450px;
}
.h2{
    margin-top: 90px;
}
.text-last{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: roboto;
    font-size: 20px;
}
.text-l{
    width: 50%;
    height: 150px;
}
footer{
    background-color: #000000 !important;
}
.footer-cp{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.cp{
    font-size: 16px;
}

@media(max-width: 1242px) {
    .overly{
        display: none;
    }
    /* --------------------------header------------------------------ */
header{
    margin-top: 0px;
}

}


@media(max-width: 400px){
	label.logo{
		font-size:26px;
		margin:0px 50px;
	}
}
@media(max-width: 895px){
	label.logo{
		margin:0px 70px;
	}
	#checkbtn{
		display: block;
	}
	nav ul{
		width: 100%;
		height: 100vh;
		background: #404040;
		position: fixed;
		top:80px;
		left: -100%;
		transition: .5s;
	}
	nav ul li{
		display: block;
		text-align: center;
		line-height:50px;
		margin:15px;
	}
    header{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px){
    header ul li{
        list-style-type: none;
        display: inline-block;
        margin-left: 20px;
    }
    .header-li{
        position: relative;
        right: 50px; 
        font-size: 15px;
        margin-top: 16px;
    }
}
@media only screen and (min-width: 561px) and (max-width: 767px) {
    /* header ul li{
        margin-left: 20px;
    }
    .header-li{
        position: relative;
        right: 30px;
        font-size: 14px;
    } */
}
@media only screen and (min-width: 561px) and (max-width: 767px) {
    
    /* -------------------------------text and image sec------------------------------------------ */
.about-us{
    width: 95%;
    height: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.about-us-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about-us-para{
    width: 100%;
    height: 170px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    margin-top: 60px;
}
.about-buttons{
    display: flex;
    margin-top: 30px;
}
.about-btn{
    height: 50px;
    width: 120px;
    margin-left: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.about-btn1{
    background-color: #ECAD15;
    color: #FEFEFF;
}

.about-btn2{
    background-color: #000000;
    color: white;
}
.about-btn1:hover{
    background: #0e0d0d4d;
}
.about-btn2:hover{
    background: #0e0d0d4d;
}
.h2{
    font-family: Poppins;
    font-size: 43px;
    font-weight: 600;
    line-height: 80.4px;
}
.about-img{
    height: 320px;
    width: 49%;
    margin-top: 10px;
}
.vegies{
    font-family: Poppins;
    font-size: 43.33px;
    font-weight: 700;
    text-align: left;
    color: #000000;    
}
.shop{
    font-family: Poppins;
    font-size: 40.62px;
    font-weight: 700;
    text-align: left;
    color: #ECAD15;
    position: relative;
    bottom: 20px;
}
.about-us-h{
    margin-top: 10px;
}
.cbgp{
    font-size: 14px;
}
}
@media only screen and (min-width: 460px) and (max-width: 560px)  {
   
    /* -------------------------------text and image sec------------------------------------------ */
.about-us{
    width: 95%;
    height: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.about-us-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about-us-para{
    width: 100%;
    height: 170px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    margin-top: 60px;
}
.about-buttons{
    display: flex;
    margin-top: 30px;
}
.about-btn{
    height: 50px;
    width: 120px;
    margin-left: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.about-btn1{
    background-color: #ECAD15;
    color: #FEFEFF;
}

.about-btn2{
    background-color: #000000;
    color: white;
}
.about-btn1:hover{
    background: #0e0d0d4d;
}
.about-btn2:hover{
    background: #0e0d0d4d;
}
.h2{
    font-family: Poppins;
    font-size: 43px;
    font-weight: 600;
    line-height: 80.4px;
}
.about-img{
    height: 320px;
    width: 49%;
    margin-top: 10px;
}
.vegies{
    font-family: Poppins;
    font-size: 43.33px;
    font-weight: 700;
    text-align: left;
    color: #000000;    
}
.shop{
    font-family: Poppins;
    font-size: 40.62px;
    font-weight: 700;
    text-align: left;
    color: #ECAD15;
    position: relative;
    bottom: 20px;
}
.about-us-h{
    margin-top: 10px;
}
.cbgp{
    font-size: 14px;
}
}
@media only screen and (min-width: 288px) and (max-width: 460px) {

    /* -------------------------------text and image sec------------------------------------------ */
.about-us{
    width: 100%;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.about-us-text{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 9%;
    position: relative;
    bottom: 60px;
}
.about-us-para{
    width: 90%;
    height: 170px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    margin-top: 60px;
   
}
.about-buttons{
    display: flex;
    margin-top: 30px;
}
.about-btn{
    height: 50px;
    width: 120px;
    margin-left: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.about-btn1{
    background-color: #ECAD15;
    color: #FEFEFF;
}

.about-btn2{
    background-color: #000000;
    color: white;
}
.about-btn1:hover{
    background: #0e0d0d4d;
}
.about-btn2:hover{
    background: #0e0d0d4d;
}
.h2{
    font-family: Poppins;
    font-size: 43px;
    font-weight: 600;
    line-height: 80.4px;
}
.about-img{
    height: 320px;
    width: 100%;
    margin-top: 10px;
}
.vegies{
    font-family: Poppins;
    font-size: 43.33px;
    font-weight: 700;
    text-align: left;
    color: #000000;    
}
.shop{
    font-family: Poppins;
    font-size: 40.62px;
    font-weight: 700;
    text-align: left;
    color: #ECAD15;
    position: relative;
    bottom: 20px;
}
.about-us-h{
    margin-top: 10px;
}
.cbgp{
    font-size: 14px;
}
.contact-sec{
    position: relative;
    bottom: 150px;
}
.manga{
    position: relative;
    bottom: 300px;
}
.text-last{
    position: relative;
    bottom: 200px;
    font-size: 14px;
}
section{
    position: relative;
    bottom: 150px;
}
footer{
    position: relative;
    bottom: 150px;
}
.footer-cp{
    position: relative;
    bottom: 150px;
}
.cards{
    margin-top: 30px;
}
}